<?xml version="1.0" encoding="GB2312"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://java.sun.com/xml/ns/j2ee" 
		xmlns:javaee="http://java.sun.com/xml/ns/javaee" 
		xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" 
		version="2.4">
  <servlet>
    <javaee:description>Connect to Database</javaee:description>
    <javaee:display-name>InitWEB</javaee:display-name>
    <servlet-name>InitWEB</servlet-name>
    <servlet-class>global.InitWEB</servlet-class>
<!--     <load-on-startup>1</load-on-startup> -->
  </servlet>
  <servlet>
    <servlet-name>OrderOperation</servlet-name>
    <servlet-class>businesses.order.OrderOperation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoDelete</servlet-name>
    <servlet-class>businesses.userinfo.UserInfoDelete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>global.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>businesses.login.LoginServ</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showpage</servlet-name>
    <servlet-class>global.ShowPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registrycheck</servlet-name>
    <servlet-class>validate.RegistryCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>businesses.login.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>displaypphoto</servlet-name>
    <servlet-class>businesses.order.ProductShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryproduct</servlet-name>
    <servlet-class>businesses.query.QueryProduct</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShopCart</servlet-name>
    <servlet-class>businesses.cart.ShopCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearShopCart</servlet-name>
    <servlet-class>businesses.cart.ClearShopCart</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productShow</servlet-name>
    <servlet-class>businesses.order.ProductShow</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userinfoUpdate</servlet-name>
    <servlet-class>businesses.userinfo.UserInfoUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderOperation</servlet-name>
    <url-pattern>/userinfo/order_manager.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoDelete</servlet-name>
    <url-pattern>/userinfo/userinfodelete.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryproduct</servlet-name>
    <url-pattern>/queryproduct.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>displaypphoto</servlet-name>
    <url-pattern>/displaypphoto.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/loginservice.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showpage</servlet-name>
    <url-pattern>/showpage.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/img.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InitWEB</servlet-name>
    <url-pattern>/servlet/initweb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registrycheck</servlet-name>
    <url-pattern>/registryCheck.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShopCart</servlet-name>
    <url-pattern>/shopcart.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearShopCart</servlet-name>
    <url-pattern>/clearsc.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productShow</servlet-name>
    <url-pattern>/userinfo/product.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userinfoUpdate</servlet-name>
    <url-pattern>/userinfo/userinfoupdate.jsp</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <javaee:description>Driver Class Name</javaee:description>
    <javaee:param-name>driver</javaee:param-name>
    <javaee:param-value>com.mysql.jdbc.Driver</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>Connection URL</javaee:description>
    <javaee:param-name>url</javaee:param-name>
    <javaee:param-value>jdbc:mysql://127.0.0.1:3306/shopcart?characterEncoding=utf-8</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>Connection User</javaee:description>
    <javaee:param-name>user</javaee:param-name>
    <javaee:param-value>root</javaee:param-value>
  </context-param>
  <context-param>
    <javaee:description>Connection Password</javaee:description>
    <javaee:param-name>password</javaee:param-name>
    <javaee:param-value>root</javaee:param-value>
  </context-param>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>global.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>userInfo</filter-name>
    <filter-class>businesses.userinfo.UserInfoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>userInfo</filter-name>
    <url-pattern>/userinfo/*</url-pattern>
  </filter-mapping>
</web-app>