a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: #000000;
}

BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: ו ;
	background: gray;
	margin-top: 200px;
}
DIV{
		text-align: center;
}