<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<!-- 配置DataSource -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/evms" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<!-- 配置SessionFactory -->
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>com\pan\evms\domain\operationflow.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!-- update \ create-drop -->
 				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
	<!-- 配置JdbcTemplate -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!-- 配置Dao -->
	<bean id="operationFlowDal" class="com.pan.evms.dal.impl.OperationFlowDalImpl">
		<property name="sessionFactory" ref="mySessionFactory"></property>
		<property name="jTemplate" ref="jdbcTemplate"></property>
	</bean>
	<!-- 配置service -->
	<bean id="operationFlowService" class="com.pan.evms.sl.datastorage.impl.OperationFlowService">
		<property name="operationFlowDal" ref="operationFlowDal"/>
	</bean>
	
</beans>