<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="someServerTarget" class="aop.exec.SomeServer"/>
	<bean id="auditAdvice" class="aop.exec.AuditAdvice">
		<property name="maxValue" value="100"/>
	</bean>
	<bean id="someServer" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="someServerTarget"/>
		<property name="interceptorNames">
			<list>
				<value>auditAdvice</value>
			</list>
		</property>
	</bean>
</beans>